@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-left">
    <h1 class="display-4">Hello!</h1>
    <p>Just testing out some ASP.NET Core.</p>
</div>
<div class="text-left">
    <h4>About this site...</h4>
</div>